@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the CST-247 Minesweeper CLC Project</h2>
    <p class="lead">Press the login or registration buttons to get started!.</p>
</div>

<div class="row">
    Brought to you by Roman, David, and Zachary.
</div>