
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- This is the Registration page it will need a form for the controller to add to that is it also need a route config to be directed here-->


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- if you guys do not like the colors you can change them in the style option-->
    <style>

        header {
            background-color: #666699
        }

        textarea {
            background-color: #333399;
            color: white;
            text-anchor: middle;
        }

        button {
            background-color: #333399;
            color: white
        }
    </style>
</head>
<body style="background-color: #666699; color: white">
    <div>
        <header><b>Better Steam/Battlenet/Origins</b><center><h1>Login Page to Game Library</h1> | <a href="Home">Home</a> | <a href="Register">Register Page</a> | <a href="About">About</a> | <a href="Help">Help</a> | </center></header>

    </div>
    <br />
    <br />

    <center>

        <div>
            <b>Username: </b> <textarea>enter username here</textarea><br />
            <b>Password: </b> <textarea>enter password here</textarea><br />
            <!-- Needs a submit function to complete submittion to form-->
            <button>Log in</button>
            <br />
            <br />
            <!-- currently these are broken links since they do not have a view-->
            <a href="ForgotUsername"> Forgot Username?</a><br />
            <a href="ForgotPassword">Forgot Password?</a><br />
        </div>

    </center>
</body>
</html>
