@{
    Layout = null;
}

<!DOCTYPE html>
@{
    ViewBag.Title = "LoginPassed";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPassed</title>
</head>
<body>
    <div> 
        LOGIN PASSED
        <h2>Welcome, @ViewBag.Username!</h2>
    </div>
</body>
</html>
