
@{
    Layout = null;
}

<head>
    <meta http-equiv="refresh" content="3;@Url.Action("/", "Login")" />
</head>
@{
    ViewBag.Title = "LoginFailed";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFailed</title>
</head>
<body>
    <div> 
       <h1>LOGIN FAILED! You'll now be redirected to the Login page.</h1>
    </div>
</body>
</html>
