
@model  MinesweeperProjectCLC247.Models.GameBoardModel

<table id="gameboardTable">
    @for (var y = 0; y < Model.Rows; y++) {
        <tr>
            @for (var x = 0; x < Model.Cols; x++) {
                <td>
                    @if (Model.Cells[x, y].IsVisited) {
                        if (Model.Cells[x, y].IsLive) {
                            <span style="background: black;">
                                <img src="~/Content/mine.png" alt="mine" style="width:32px;height:32px;display:block;" />
                            </span>
                        } else {
                            if (Model.Cells[x, y].LiveNeighbors > 0) {
                                if (Model.Cells[x, y].LiveNeighbors == 1) {
                                    @:<span style="color: blue;">@Model.Cells[x, y].LiveNeighbors</span>
                        }
                                if (Model.Cells[x, y].LiveNeighbors == 2) {
                                    @:<span style="color: green">@Model.Cells[x, y].LiveNeighbors</span>
                        }
                                if (Model.Cells[x, y].LiveNeighbors == 3) {
                                    @:<span style="color: red">@Model.Cells[x, y].LiveNeighbors</span>
                        }
                                if (Model.Cells[x, y].LiveNeighbors == 4) {
                                    @:<span style="color: purple">@Model.Cells[x, y].LiveNeighbors</span>
                        }
                            }
                        }
                    } else {
                        using (Ajax.BeginForm("ActivateCell", "Game", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "gameboardPartial", InsertionMode = InsertionMode.ReplaceWith })) {
                            <input type="hidden" id="x" name="x" value=@Model.Cells[x, y].Column>
                            <input type="hidden" id="y" name="y" value=@Model.Cells[x, y].Row>
                            <button type="submit" id="play" style="background: gray; width:32px;height:32px;display:block;"></button>
                        }
                    }
                </td>
            }
        </tr>
    }
</table>

    <br />
    <form action="/Game" method="post">
        <button type="submit" style="display:none">Restart Game</button>
    </form>

    

