
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <!-- if you guys do not like the colors you can change them in the style option-->
    <style>

        header {
            background-color: #666699
        }

        textarea {
            background-color: #333399;
            color: white;
            text-anchor: middle;
        }

        button {
            background-color: #333399;
            color: white
        }
    </style>
</head>
<body style="background-color: #666699; color: white">
    <center>
        <div>
            <header><h1>Welcome to Help Page</h1><b>Better Steam/Battlenet/Origins</b><center><h1>Sign Up to Game Library</h1> | <a href="Home">Home</a> | <a href="Login">Login Page</a> | <a href="Register">Register Here</a> | <a href="About">About</a> | </center></header>


        </div>
    </center>
</body>
</html>
